.Middle {
    width: 80%;
    height:100%;
    box-shadow: 0px 2px 5px black;
    overflow:hidden;
}
.Lside {
    width: 20%;
   
    box-shadow: -2px 0px 15px black;
    height: 100%
}

.sidepanel {
   height:100%;
   width:100%;
   
}
.imagdiv {
   
   
   margin:5px;
    object-fit: fill;
    width: 200px;
    height: 100px;
    overflow: hidden;
    
}
.Dbutton {
    max-width: 600px;
    background-color: transparent;
    height: 40px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-family: 'Lucida Fax';
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border: none;
    color: white;
    position: center;
    border-radius: 15px;
    box-shadow: 1px 2px 10px black;
    display: block;
    margin: 20px;
    color: black;
}
    .Dbutton:hover {
        border-radius: 15px;
        background-color: #cf9306;
        border: solid;
        border-color: #cf9306;
        border-block-color: #cf9306;
        color: white;
        transition: all 0.2s ease;
    }

.SliderImage {
    height:600px;
   width:100%;
   
    padding: 10px;
    object-fit: scale-down;
    vertical-align: middle;
}

.marque {
    font-family: Cambria;
    font-size: 16px;
    color: #bd8501;
    height:600px;
}

* {
    box-sizing: border-box;
}


.mySlides {
    display: none;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


.alerts {
    position: sticky;
    top: 20px;
    padding: 15px;
    margin: auto;
    color: white;
    z-index: 2;
    width: 40%;
    opacity: 100%;
    transition: all 5s;
}

.fade-out {
    opacity: 0%;
    top: -10px;
}

.alertDanger {
    padding: 15px;
    background-color: orangered;
    color: black;
    z-index: 2;
    border-radius: 15px;
    margin: 15px;
    width: 100%;
    opacity: 100%;
    box-shadow: 5px 5px 10px 1px #888888;
    transition: all 10s;
}

.alertSuccess {
    padding: 15px;
    background-color: lawngreen;
    color: black;
    z-index: 2;
    border-radius: 15px;
    margin: 15px;
    width: 100%;
    opacity: 100%;
    box-shadow: 5px 5px 10px 1px #888888;
    transition: all 10s;
}

.alertInfo {
    padding: 15px;
    background-color: gold;
    color: black;
    z-index: 2;
    border-radius: 15px;
    margin: 15px;
    width: 100%;
    opacity: 100%;
    box-shadow: 5px 5px 10px 1px #888888;
    transition: all 10s;
}
